asgiref==3.8.1
cffi==1.17.1
click==8.1.8
cryptography==44.0.0
Django==5.1.5
django-mfa==3.2
djangorestframework==3.15.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
mfa==0.1.1
more-itertools==10.6.0
onetimepass==1.0.1
pillow==11.1.0
pycparser==2.22
pyotp==2.9.0
qrcode==8.0
SecretStorage==3.3.3
six==1.17.0
sqlparse==0.5.3
